.vs/ABiT.SAP.WebPortal/DesignTimeBuild/.dtbcache.v2
.vs/ABiT.SAP.WebPortal/FileContentIndex/3d782194-af16-4a67-b7d0-cd45b9310a33.vsidx
.vs/ABiT.SAP.WebPortal/FileContentIndex/03dd5f75-5b10-49d0-9a5f-39eaadc38fea.vsidx
.vs/ABiT.SAP.WebPortal/FileContentIndex/6f46992f-5053-41f0-8fe6-0b89aff1f227.vsidx
.vs/ABiT.SAP.WebPortal/FileContentIndex/313aeb13-3025-4ec4-986b-8e18e771d7a3.vsidx
.vs/ABiT.SAP.WebPortal/FileContentIndex/718b7de0-9693-4360-8498-766225f272f0.vsidx
.vs/ABiT.SAP.WebPortal/FileContentIndex/58742264-b417-4d4a-85e9-e5981c74f08d.vsidx
.vs/ABiT.SAP.WebPortal/FileContentIndex/d841af06-a9a9-4589-ac4d-a310beb3e4c0.vsidx
.vs/ABiT.SAP.WebPortal/FileContentIndex/e75ff642-3fcf-4390-b33e-d040a62eeb69.vsidx
.vs/ABiT.SAP.WebPortal/FileContentIndex/fea0dac8-e898-4c2e-b40f-356da87bad0e.vsidx
HelperWebSL/obj/Debug/netstandard2.0/HelperWebSL.assets.cache
HelperWebSL/obj/Debug/netstandard2.0/HelperWebSL.csproj.AssemblyReference.cache
HelperWebSL/obj/Debug/netstandard2.0/HelperWebSL.GeneratedMSBuildEditorConfig.editorconfig
.vs/ABiT.SAP.WebPortal/DesignTimeBuild/.dtbcache.v2
HelperWebSL/obj/Debug/netstandard2.0/HelperWebSL.GeneratedMSBuildEditorConfig.editorconfig
HelperWebSL/obj/Debug/netstandard2.0/HelperWebSL.csproj.AssemblyReference.cache
HelperWebSL/obj/Debug/netstandard2.0/HelperWebSL.assets.cache
SAPWebPortal/SAPWebPortal.Web/.vscode/launch.json
SAPWebPortal/SAPWebPortal.Web/obj/Debug/net6.0/SAPWebPortal.Web.assets.cache
SAPWebPortal/SAPWebPortal.Web/obj/Debug/net6.0/SAPWebPortal.Web.csproj.AssemblyReference.cache
SAPWebPortal/SAPWebPortal.Web/obj/Debug/net6.0/SAPWebPortal.Web.GeneratedMSBuildEditorConfig.editorconfig
SAPWebPortal/SAPWebPortal.Web/obj/Debug/net6.0/SAPWebPortal.Web.GeneratedMSBuildEditorConfig.editorconfig
/SAPWebPortal/SAPWebPortal.Web/obj/Debug/net6.0/Sentry.Attributes.cs
/HelpersWebSLTests/bin/Debug/net6.0/CoverletSourceRootsMapping
*.vsidx
